<div class="row">
    <div class="container mt-5">
        <div *ngIf="!createMode">
            <button (click)="createToggle()" class="btn btn-primary"><i class="fa fa-plus-circle mr-1"
                    aria-hidden="true"></i>Create Check</button>
        </div>

        <div *ngIf="createMode" class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                    <app-checke-detail (cancelChecke)="cancelCreateMode($event)"></app-checke-detail>
                </div>
            </div>
        </div>

        <div *ngIf="!createMode">
            <table class="table table-hover mt-5">
                <thead>
                    <tr class="table-success">
                        <th scope="col">Check Number</th>
                        <th scope="col">Pay To</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date Issued</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>`
                    <tr *ngFor="let checke of checkes">
                        <th scope="row">{{checke.checkNumber}}</th>
                        <td>{{checke.payTo}}</td>
                        <td>{{checke.amount | number}}</td>
                        <td>{{checke.receivedBy}}</td>
                        <td>{{checke.dateIssued | date:"MM/dd/yy"}}</td>
                        <td class="justify-content-center" style="width: 150px;">
                            <button class="btn float-right" tooltip="Print Check" placement="top" (click)="printCheck(checke.checkNumber)"><i class="fa fa-print"></i></button>
                            <div class="float-right" *ngIf="!checke.isReceived">
                                <button class="btn" tooltip="Delete" placement="top" (click)="openModal(deleteModal, checke.checkNumber)"><i class="fa fa-trash-o"></i></button>
                                <button class="btn" tooltip="Receive Check" placement="top"(click)="openReceiverModal(receivedModal, checke)"><i class="fa fa-paper-plane-o"></i></button>
                            </div>                            
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-center" *ngIf="pagination">
                <pagination 
                    [boundaryLinks]="true" 
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage"
                    (pageChanged)="pageChange($event)"
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;">
                </pagination>
            </div>

            <ng-template #deleteModal>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Do you want to delete this check?</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <div class="modal-body text-center">
                    <!-- <p>Do you want to delete this check??</p> -->
                    <p>Check Number: {{selectedCheckNumber}}</p>
                    <button type="button" class="btn btn-info mr-1" (click)="confirm()">Confirm</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="decline()">Close</button>
                </div>
            </ng-template>

            <ng-template #receivedModal>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Check Receiver Detail</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <div class="modal-body text-center">
                    <form  [formGroup]='receiveForm' (ngSubmit)="receiveForm.valid && confirmReceiver()" autocomplete="off">
                        <app-text-input [formControl]='receiveForm.controls["receiver"]' [label]='"Received by"'></app-text-input>
                    
                        <div class="form-grou text-center mt-5">
                            <button [disabled]="!receiveForm.valid" class="btn btn-success mr-2" type="submit">Submit</button>
                            <button class="btn btn-outline-warning mr-2" (click)="decline()" type="button">Cancel</button>
                        </div>
                    </form>
                </div>
            </ng-template>
        </div>

    </div>
</div>