<form  [formGroup]='checkeForm' (ngSubmit)="checkeForm.valid && create()" autocomplete="off">
    <h2 class="text-center text-primary">Checke Details</h2>
    <hr>
    <app-text-input [formControl]='checkeForm.controls["checkNumber"]' [label]='"Checke Number"'></app-text-input>
    <app-text-input [formControl]='checkeForm.controls["payTo"]' [label]='"Pay To"'></app-text-input>
    <app-date-input [formControl]='checkeForm.controls["dateIssued"]' [label]='"Date Issued"'></app-date-input>
    <app-text-input [formControl]='checkeForm.controls["amount"]' [label]='"Amount"' [type]='"number"'></app-text-input>
    <textarea class="form-control" id="exampleTextarea" rows="3" readonly="" placeholder="Amount in words">{{wordsToNumber()}}</textarea>
   

    <div class="row mt-" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="form-grou text-center mt-5">
        <button [disabled]="!checkeForm.valid" class="btn btn-success mr-2" type="submit">Submit</button>
        <button class="btn btn-outline-warning mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>